.container {
    display: grid;
    grid-template-columns: 165px 1fr;

    aside,
    main {
        padding: 1rem;
    }

    aside {
        background-color: rgb(238, 238, 238);
    }

    ul {
        margin-bottom: 4rem;

        li {
            margin-bottom: 0.5em;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }

        label {
            margin-left: 0.8em;
            color: grey;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: darken(rgb(0, 0, 0), 20%);
            }
        }
    }

    h3 {
        margin-bottom: 0.4em;
    }

    .colorsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .color {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px solid;
            cursor: pointer;
            outline-offset: 0.1em;
            transition: transform 0.3s, border-color 0.3s;

            &:hover {
                transform: scale(1.1);
                border-color: darken(rgb(238, 238, 238), 20%);
            }

            &:focus {
                outline: 2px solid ;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;

        &>* {
            border: 1px solid;
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}